body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
    font-size: 1.5em;
    color: White;
    background-color: #118594;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, #043d49, #044758, #118594, #1e9eaf, #4ec9d1);
}

.title {
    line-height: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    word-break: break-all;
}

.titleText {
    font-size: 1.8em;
    line-height: 0;
    word-spacing: 5px;
}

.ttContent {
    margin-bottom: 0%;
    padding: 0%;
}

.author {
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 1.2em;
    padding-left: 2%;
}

hr {
    width: 50%;
    align-self: center;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
}

.navArrow {
    opacity: 0.7;
    float: right;
    margin: 5px;
}

.navArrow:hover {
    opacity: 1;
}

.logo {
    height: 200px;
    width: auto;
}

.text {
    padding-top: 13%;
}

.text2 {
    padding-top: 5%;
}

.text3 {
    padding-top: 3%;
}

.padText {
    color: transparent;
}

.media {
    width: 45%;
    height: auto;
    align-items: center;
}

.hidden {
    display: none;
}

.shown {
    display: contents;
}